@use '@angular/material' as mat;

@include mat.core();

$my-subtitle-1: mat.define-typography-level(
  $font-family: Montserrat,
  $font-weight: 600,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$my-headline-3: mat.define-typography-level(
  $font-family: Montserrat,
  $font-weight: 400,
  $font-size: 1.5rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$my-body-1: mat.define-typography-level(
  $font-family: Montserrat,
  $font-weight: 400,
  $font-size: 1.125rem,
  $line-height: 150%,
  $letter-spacing: normal,
);

$my-typography: mat.define-typography-config(
  $subtitle-1: $my-subtitle-1,
  $headline-3: $my-headline-3,
  $body-1: $my-body-1,
);

$my-theme: mat.define-light-theme((
  typography: $my-typography,
));

@include mat.all-component-themes($my-theme);
@include mat.typography-hierarchy($my-typography);
